docs/*#

m4
autom4te.cache
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.log
config.rpath
config.status
config.sub
configure
configure~
dic/Makefile
dic/Makefile.in
dic_tools/Makefile
dic_tools/Makefile.in
docs/Makefile
docs/Makefile.in
engine/Makefile
engine/Makefile.in
engine/ibus-engine-pskk
engine/pskk.xml.in
engine/util.py.in
ibus-pskk.spec
icons/Makefile
icons/Makefile.in
install-sh
layouts/Makefile
layouts/Makefile.in
missing
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sed
po/quot.sed
po/remove-potcdate.sed
py-compile
setup/Makefile
setup/Makefile.in
setup/ibus-setup-pskk.in
setup/util.py.in
